<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Login</title>
    <meta name="author" content="bawebstudio.com" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="/css/style.css"/>
  </head>
  <body class="bg-primary">
    <div class="container d-flex justify-content-center align-items-center vh-100">        
        <div class="d-flex flex-column justify-content-center align-items-center shadow" style="width: 600px; height: 600px; background-color: white;">
            <h2 class="text-center mb-5">Registro</h2>

            <form class="w-75">

              <!-- Name input -->
              <div class="form-outline mb-4">
                <input type="text" id="form3Example1" class="form-control" />
                <label class="form-label small" for="form3Example1">Nombre</label>
              </div>
            
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" />
                <label class="form-label small" for="form3Example3">Email</label>
              </div>
            
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="form3Example4" class="form-control" />
                <label class="form-label small" for="form3Example4">Contraseña</label>
              </div>
            
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">Continuar</button>
              
              <!-- Others -->
              <div class="row mt-5">
                <div class="col">
                    <div><a href="/">Volver</a></div>
                </div>
              </div>

            </form>

        </div>
    </div>
  </body>
</html>